@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background-color: #1d1f21;
    color: #ffffff;
}

.container {
    max-width: 1400px;
    margin: 20px auto; 
    padding: 0 5%;
}

.admin-section {
    padding: 20px;
    background-color: #161616;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #8c4eff;
    padding-bottom: 10px;
}

.members-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.members-table th, .members-table td {
    padding: 10px;
    text-align: left;
}

.members-table th {
    background-color: #347EBB;
    color: rgb(255, 255, 255);
    border-radius: 0px;
}

.status {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.status.member {
    background-color: #c089ff;
    color: black;
}

.status.admin {
    background-color: #459b9e;
    color: white;
}

.role-select {
    padding: 5px;
    border-radius: 4px;
    background-color: #444;
    color: white;
    border: 1px solid #777;
}

.config-btn, .remove-btn, .event-btn, .gallery-btn {
    background-color: #347ebb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.config-btn:hover, .remove-btn:hover, .event-btn:hover, .gallery-btn:hover {
    background-color: #5b2f7c;
    transform: translateY(-2px);
}

#event-form {
    margin-top: 20px;
}

#event-form input, #event-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #444;
    color: white;
}

#event-form button {
    background-color: #613199;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#event-form button:hover {
    background-color: #7b3c94;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 1 30%; /* Altera a largura conforme necessário */
    margin: 10px;
    text-align: center;
}

.gallery-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #080A0F;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 30px;
}

p {
    font-size: 14px;
    margin: 10px 0;
}

a {
    color: #00AEEF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons a {
    display: inline-block;
}
