* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('../img/fundo.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.left-panel {
    background-color: #11303a;
    color: #ffffff;
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-panel h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.left-panel img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.right-panel {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 50px;
    margin-bottom: 20px;
}

.right-panel h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #265969;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

label {
    margin-bottom: 10px; /* Aumentado para adicionar mais espaço */
    font-weight: bold;
    color: #00344D;
}

input {
    margin-bottom: 15px; /* Adiciona espaço abaixo dos inputs */
    padding: 12px 0; /* Aumentando o preenchimento superior e inferior */
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-bottom: 2px solid #246277;
}

input::placeholder {
    color: #999;
}

button {
    margin-top: 15px; /* Adiciona espaço acima do botão */
    padding: 12px; /* Aumentando o preenchimento do botão */
    background-color: #246277;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00709A;
}

.social-login {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social-login button {
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.google-btn {
    background-color: #DB4437;
    color: #ffffff;
}

.github-btn {
    background-color: #333;
    color: #ffffff;
}

p {
    margin-top: 15px;
    text-align: center;
}

p a {
    color: #0F2A33;
    text-decoration: none;
}

