* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('../img/fundo.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 
    0 10px 15px rgba(0, 0, 0, 0.3);  
}

input {
    border: none; 
    border-bottom: 2px solid #ccc; 
    padding: 5px 0; 
    outline: none; 
    transition: border-color 0.3s;
}

input:focus {
    border-bottom: 2px solid #246277; 
}

input::placeholder {
    color: #999;
}


.left-panel {
    background-color: #11303a;
    color: #fff;
    padding: 40px;
    width: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.left-panel h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.left-panel p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.left-panel img {
    max-width: 100%;
    margin-top: 20px;
}

.right-panel {
    padding: 40px;
    width: 50%;
}

.logo{
    display: flex; 
    justify-content: left; 
}


.logo img {
    width: 50px;
    margin-bottom: 20px;
}

.right-panel h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #265969;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #00344D;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #246277;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #00709A;
}

.social-login {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social-login button {
    padding: 10px;
    width: 48%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn {
    background-color: #DB4437;
    color: #fff;
}

.github-btn {
    background-color: #333;
    color: #fff;
}

p {
    margin-top: 15px;
    text-align: center;
}

p a {
    color: #0F2A33;
    text-decoration: none;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #333; 
    font-size: 1rem; 
    font-weight: bold; 
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" stroke="%23246277" stroke-width="2"><path d="M4 6l4 4 4-4" fill="none" /></svg>'); /* Ícone do dropdown */
    background-repeat: no-repeat; 
    background-position: right 10px center; 
    background-size: 12px; 
    transition: border-color 0.3s; 
}

select:focus {
    border-color: #246277; 
    outline: none;
}

option {
    font-weight: normal; 
    color: #333; 


.hidden {
    display: none; 
}

label {
    margin-bottom: 5px;
    font-weight: bold; 
    color: #00344D;
    font-style: normal; 
}

}