@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../img/fundo.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: auto;
    flex-wrap: wrap;
}

.left-panel {
    background-color: #11303a;
    color: #ffffff;
    padding: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-panel h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.left-panel p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.left-panel img {
    max-width: 75%;
    border-radius: 10px;
    margin-top: 10px;
}

.right-panel {
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-panel h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #265969;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #00344D;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 0.95rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

input:focus {
    border-color: #246277;
}

input::placeholder {
    color: #999;
}

button {
    padding: 10px;
    background-color: #246277;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    max-width: 200px;
    margin-top: 10px;
}

button:hover {
    background-color: #00709A;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.members-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#counterInfo {
    font-size: 1rem;
    font-weight: normal;
    color: #00344D;
}

.back-button {
    font-size: 1rem;
    color: #246277;
    text-decoration: none;
    margin-bottom: 15px;
    border: 2px solid #246277;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #246277;
    color: #ffffff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .left-panel img {
        max-width: 80%;
    }

    .members {
        grid-template-columns: 1fr;
    }

    button {
        max-width: 100%;
    }
}
